@font-face {
	font-family: Uniform;
	src: url(./assets/fonts/Uniform.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Uniform;
}

a {
	all: unset;
	cursor: pointer;
}

h2 {
	color: #186cb0;
}

/* Header */

header {
	background-color: #186cb0;
	color: white;
}

#container_header {
	max-width: 1400px;
	margin: auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header_nav {
	display: flex;
}

#header_nav .header_lien {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}

#header_nav .header_lien:hover {
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	#header_nav .header_lien:nth-child(2) {
		display: none;
	}

	h1 {
		font-size: 20px;
	}

	span {
		font-size: 12px;
	}
}

/*  */

/* Main */

/* Navigation */

#main_navigation {
	max-width: 1400px;
	margin: 10px auto;
}

#liste_navigation {
	display: flex;
	list-style: none;
}

.lien_navigation {
	background-color: #186cb0;
	color: white;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.lien_navigation:first-child {
	margin-right: 10px;
}

/*  */
/* Tarifs */

#section_tarifs {
	max-width: 1400px;
	margin: auto;
}

#tarifs {
	padding: 10px;
}

.tarif {
	background-color: rgb(217, 217, 217);
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 1px solid gray;

	display: flex;
	justify-content: space-between;
}

.tarif_description {
	display: flex;
	flex-direction: column;
}

.tarif_titre,
.tarif_prix {
	font-weight: bold;
}
