@font-face {
	font-family: Uniform;
	src: url(./assets/fonts/Uniform.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Uniform;
}

a {
	all: unset;
	cursor: pointer;
}

/* Header */

header {
	background-color: #186cb0;
	color: white;
}

#container_header {
	max-width: 1400px;
	margin: auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header_nav {
	display: flex;
}

#header_nav a {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}

#header_nav a:hover {
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	#espace_pro {
		display: none;
	}

	h1 {
		font-size: 20px;
	}

	span {
		font-size: 12px;
	}
}

/*  */
